body {
    background: #121212;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-box {
    background: #1e1e1e;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
}
